* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.overlay {
    position: absolute;
    width: 0;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 501;
    opacity: 0;
    transition: .5s;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 200;
}
a.logo.logo1{
    text-decoration: none;
    position: relative;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: "Baloo" !important;
}
a.logo span {
    color: #37d72f;
}
.toggle {
    max-width: 60px;
    cursor: pointer;
}
.toggle img {
    width: 100%;
}
.banner{
    height:100vh;
    width:100%;
    background: url('https://demo.diothemes.com/html/kadirov-fitness/assets/images/header1.jpg');
    position: relative;
    overflow: hidden;
}


/* NAVIGATION */


  nav {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100vh;
    justify-content: space-around;
    position:absolute;
    right:0;
    top:0;
    background: #0f1014;
    transform: translateX(0);
    z-index: 502;
    transition: 0.7s;
}
img.icon-cart{
    width:40px;
}
.nav-middle ul{
    display: block;
    height: initial;
    list-style-type: none;
    text-align: center;
}
.nav-middle ul li{
    line-height: 60px;
    padding: 0 20px;
}
.nav-middle ul li a, .nav-right ul li a {
    text-decoration: none;
    color: white;
}
.nav-middle ul, .nav-right ul{
    display: block;
    height: initial;
    text-align: center;
    list-style-type: none;
}
.nav-middle ul li, .nav-right ul li {
    line-height: 60px;
}
button.btn.btn-primary{
    background: none;
    border:none;
}
.logo {
   
    text-align: center;
}
.logo span {
    font-size: 35px;
    font-weight: 700;
}
.logo-gym {
    width: 100px;
    color: white;
}
.logo-home {
    color: #82b53f;
    text-align: center;
}
.fa-times {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 25px;
    color: white;
    z-index: 502;
    cursor: pointer;
}



.overlay {
    position: absolute;
    width: 0;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 501;
    opacity: 0;
    transition: .5s;
  
}
.overlay.menu-open {
    width: 100%;
    opacity: 1;
}

.active{
    transform: translateX(100%);
}
/* END NAVIGATION */


.slider-text{
    top: 60%;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
h2.text-left.wow.fadeInLeftBig{
    margin: 0px;
    line-height: 76px;
    font-size:130px;
    color: #fff;
    font-weight: 1000;
    letter-spacing: 12px;
    font-family: "Baloo" !important;
    
}
h2.text-right.outline-green.wow.fadeInRightBig{
    font-family: "Baloo" !important;
    color: transparent !important;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #00ff78;
    font-size: 130px;
    text-align: right!important;
    font-weight: 1000;
    letter-spacing: 12px;
}
body{
    background-color: white;
}
h2.text-right.outline-green.wow.fadeInRightBig{
    text-align: left !important;
    font-size: 45px;
    -webkit-text-stroke-width: 1px;
    letter-spacing:unset;
}
h2.text-left.wow.fadeInLeftBig {
    margin: 0px;
    line-height: 120px;
    font-size: 94px;
}
.background-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000008f;
    z-index: 10;
}
.slider-text{
    z-index:100;
}

.breadcrumb1{
    text-align: center;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 62vh;
    z-index: 500;
}
p.breadcrumb1 span {
    padding: 12px 40px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #37d72f;
    border-radius: 25px;
    color: #ffffff;
    text-transform: uppercase;
    z-index:1200;
}



/* MENU-FILTER */
.menu-abum{
    border-radius: 20px;
    border:none;
    background: #efefef;
    
  }
  .menu-abum ul li{
    padding:10px 45px;
    color:#111111;
    font-family: "Baloo" !important;
    color:17px;
  }
  .menu-abum ul li{
    border-radius: 25px;
    transition: 0.7s;
  }
  .menu-abum ul li:hover{
    background: rgba(55, 215, 47, 0.83);
  }
  .title-gymhome{
    width:100%;
    padding: 30px 0 ;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
  }
  .title-gym h3{
    margin-top:10px
  }
  .title-gym h3{
    font-size:45px;
    color:#111111;
    font-family: "Baloo" !important;
  }
  a.logo span,.logo,.logo-gym,.logo-home{
    font-family: "Baloo" !important;
  }
  .menu-abum{
    margin-top:0;
  }
  .item .img{
    position: relative;
    overflow: hidden;
  }
  .button-shopping{
    position: absolute;
    bottom:-50px;
    width:100%;
  height:50px;
  background: #37d72f;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  
  }
  .button-shopping a{
    text-decoration: none;
    color:#111111;
    font-size:17px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .item .img:hover .button-shopping{
    bottom:0;
    background: #37d72f;
  }
  .button-shopping a{
    transition: 1.2s;
  }
  .button-shopping:hover a{
    color:#fff;
    font-weight: 700;
  }
  .owl-nav {
    position: absolute;
    right: -1px;
    top: -75px;
  }
  .content-img{
    text-align: justify;
    padding:15px 0;
  }
  h4.product-list-title a{
    font-size:20px;
    font-family: "Baloo" !important;
    font-weight: 400;
  }
  span.amount{
    font-size: 18px;
    letter-spacing: 2px;
    color: #9e9e9e
  }
  span.price{
    padding: 0 10px;
    color:#111111;
    font-size:18px;
    letter-spacing: 2px;
    font-weight: 600;
  }
  .container-fliud .background3{
    background: #efefef;
  }
  .content-col .content p{
    color: #111111;
  }
  .content-col .content h6::before {
    background: #37d72f;
    height:4px;
    width:16%;
   
  }
  .row.row-abum {
    display: flex;
    justify-content: center;
}
.row4 {
    overflow: hidden;
}
.project-box.wow.col-md-3.col-sm-3.col-xs-6.hvr-rectangle-out img{
    width: 60px;
    margin-bottom: 10px;
    margin: auto;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-abum ul li{
    display:inline-block;
}
.project-box{
    text-align: center;
}
.project-box .time{
    padding: 5px 12px;
    background: #373735;
    color: #ffffff;
    border-radius: 20px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding-top: 7px;
}
.project-box h4{
    text-transform: uppercase;
    margin-top: 10px;
    color: #040404;
    font-weight: 600;
    padding:5px;
    font-size:15px;
}
.project-box p{
    text-transform: uppercase;
    color: #00ff78;
    margin-top: 5px;
    line-height: 16px;
    padding:10px;
}
.project-box.wow.col-md-3.col-sm-3.col-xs-6.hvr-rectangle-out{
    position: inherit;
    width: 25%;
    float: left;
    display: block;
    overflow: hidden;
    transition: all 0.7s ease;
    text-align: center;
    visibility: visible;
    border-right: 1px solid #dcdee6;
    border-bottom: 1px solid #dcdee6;
}
.row4{
    margin-bottom: 100px;
}
.menu-abum{
    margin:50px 0;
    margin-top:100px;
}
.img-menu{
    padding:15px;
}
.menu-abum ul li {
    padding: 14px 35px;
}
.opacity{
    opacity: 0;
}
.banner {
    height: 64vh;
    
}
.overflow{
    overflow: unset;
}
.height-menu{
    height:200vh;
}
.dropdown {
    display: none;
}
a#dropdownMenuLink {
    background-image: linear-gradient(45deg, transparent 50%, #ffffff 50%), linear-gradient(135deg, #ffffff 50%, transparent 50%), linear-gradient(to right, rgba(55, 215, 47, 0.83), rgba(55, 215, 47, 0.83));
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 101% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    margin-right: 15px;
    position: relative;
    width: 200px;
    height: 38px;
    border-radius: 20px;
    border: none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #37d72f;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    width: 200px;
    height: 38px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 3.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: #37d72f;
    border: 0;
}
@media(max-width:868px){
    .dropdown {
        display: block;
       margin:100px 0 ;
       margin-left: 30px;
    }
    .menu-abum{
        display:none;
    }
    h2.text-left.wow.fadeInLeftBig{
        font-size:60px;
    }
    a.logo.logo1,a.logo span{
        font-size:30px;
    }
    .container {
        max-width: 90%;
    }
    h2.text-right.outline-green.wow.fadeInRightBig{
        font-size:26px;
    }
    .toggle {
        max-width: 49px;
        cursor: pointer;
    }
    .breadcrumb1{
        display:none;
    }
    .col-sm-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .dropdown {
        margin: 51px 0;
    }
}
.row.isotope-grid {
    max-height: 426px;
    overflow: hidden;
}
@media(min-width:1300px){
   .container{
    max-width: 1300px;
   }
}
@media(max-width:600px){
    header{
        padding: 40px 25px;
    }
    h2.text-left.wow.fadeInLeftBig {
        font-size: 44px;
        line-height: 69px;
        
    }
    h2.text-right.outline-green.wow.fadeInRightBig {
        font-size: 20px;
    }
}

.video_sec {
    background: url('http://netizensstore.com/gymfit_theme/html/html/onepage_3/assets/images/video_sec.png') no-repeat fixed center;
    background-size: cover;
    margin-top:60px;
}
.video_sec .container-fluid {
    max-height: 680px;
    padding: 80px;
    text-align: center;
    z-index: 100;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none;
    color: #ffffff;
}
.video_sec .container-fluid .row h2 {
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
    padding-top: 15px;
}
.container-fluid .row-video{
    display:block;
}
.modal-dialog {
    max-width: 800px;
}
.modal-body {
    padding: 250px 400px;
    
}
iframe.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/* BLOGGGGGGGGGGGGGGGG */
.blog-sec1 {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    margin-top:60px;
}
h2.title {
    font-weight: 800;
    font-size: 2rem;
    font-family: "Baloo" !important;
    color: #000;
    text-align: center;
}
.p-title {
    font-size: 15px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}
.item {
    text-align: center;
}
.card {
    padding: 0 30px;
    border: none;
    
}
.card::before {
    background-color: #82b53f;
    content: "";
    height: 102px;
    left: 53px;
    position: absolute;
    top: -53px;
    transform: rotate(43deg);
    width: 5px;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
img.card-img-top {
    clip-path: polygon(15.5% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
}
.card-body {
    text-align: justify;
    padding-left: 0;

}
.card-title {
    margin-bottom: .75rem;
    font-weight: 600;
}
p.card-text {
    color: black;
    font-size: 11px;
}
.btn-primary {
    background: none;
    color: White;
}
.btn-primary {
    background-color: #82b53f;
    border: none;
    color: black;
    font-size: 14px;
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
    display: none;
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
    display: none;
}




    /* BEGIN-FOODTERRRRRRRRRRRRRRRRRR */
    
/* foodter */
.map_box{
    margin-top:100px;
}
iframe {
    width: 100%;
}
.main-footer {
    position: relative;
    background: #111111;
    color: #ffffff;
    font-size:15px;
  }
  .carousel-inner, .carousel, .item, .container, .fill {
    height: 100%;
    background-position: center center;
    background-size: cover;
  }
  .main-footer .footer-widget-area {
    position: relative;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .main-footer .footer-widget-area .footer-widget {
    padding-bottom: 30px;
    padding-left: 0px;
  }
  a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none;
    color: #ffffff;
  }
  .main-footer .logo_name {
    margin: 0;
    margin-bottom: 25px;
   
  }
  .header-lower .logo .logo_name, .main-footer .logo_name {
    margin: 8px auto;
    color: #82b53f;
    font-weight: 800;
    font-family: "Baloo" !important;
  }
  .header-lower .logo .logo_name .white_text, .main-footer .logo_name .white_text {
    color: #ffffff;
    font-family: "Baloo" !important;
  }
  .main-footer .footer-widget-area .footer-widget {
    padding-bottom: 30px;
    padding-left: 0px;
  }
  .footer-widget.quick-links.col-md-2.col-sm-6.col-xs-12{
      padding-left: 30px !important;
  
  }
  
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .widget-link ul, li a{
    text-decoration: none;
    color:white;
  }
  
  .row-foodter{
    width:80%;
    margin:auto;
    position: relative;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  
  .clearfix .image a img{
    width:100%;
  }
  
  .footer-bottom{
    padding: 15px;
    background: rgba(55, 215, 47, 0.83);
  }
  .widget-link ul li{
    padding: 4px;
    font-size:15px;
  }
  
  .widget-post .image {
    position: relative;
    float: left;
    width: 23.333%;
    overflow: hidden;
    margin-bottom: 15px;
    margin-right: 15px;
    height:100px;
    object-fit: cover;
  }
   i.fa.fa-phone,i.fa.fa-envelope,i.fa.fa-map-marker{
    font-size: 20px;
    color: #82b53f;
    padding-right: 7px;
    padding-left: 7px;
  } 
  .address_box{
    margin-bottom: 20px;
  }
  .col-xs-12 h4{
    font-family: "Baloo" !important;
    margin-bottom: 20px;
  }
  .textBox a{
    color:black;
  }
  .auto-container.text-center{
    color:#111111;
    font-weight: 600;
  }
  @media(max-width:1295px){
    .widget-post .image{
      width: 30.333%;
      height:75px;
      margin-bottom: 0;
    }
  }
  @media(max-width:990px) and (min-width:600px){
  .col-sm-6 {
      width: 50%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 50%;
    max-width: 49.666667%;
  }
  .footer-widget.quick-links.col-md-2.col-sm-6.col-xs-12 {
    padding-left: 74px !important;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 50%;
    max-width: 50.333333%;
  }
  .footer-widget.address.col-md-3.col-sm-6.col-xs-12{
    margin-top:20px;
    padding-left: 74px !important;
  }
  }
  @media(max-width:600px){
    .project-box.wow.col-md-3.col-sm-3.col-xs-6.hvr-rectangle-out{
      width:50%;
    }
    .row.isotope-grid{
      max-height:unset;
    }
    .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 100%;
      max-width: 99.666667%;
    }
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .footer-widget{
      margin-bottom: 40px;
    }
    .footer-widget.quick-links.col-md-2.col-sm-6.col-xs-12 {
      padding-left: 10px !important;
  }
  .background-img3{
      display:none;
  }
  }
  @media(max-width:450px){
    .widget-post .image{
      width: 33.333%;
    }
    .row-foodter {
      width: 90%;
    }
  }
  /* end-foodter */
  .back-top {
    font-size: 32px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #37d72f;
    color: #fff;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 100;
    display: none;
  }
