* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.overlay {
    position: absolute;
    width: 0;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 501;
    opacity: 0;
    transition: .5s;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 200;
}
a.logo.logo1{
    text-decoration: none;
    position: relative;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: "Baloo" !important;
}
a.logo span {
    color: #37d72f;
}
.toggle {
    max-width: 60px;
    cursor: pointer;
}
.toggle img {
    width: 100%;
}
.banner{
    height:100vh;
    width:100%;
    background: url('../img/banner-img.jpg');
    position: relative;
    overflow: hidden;
    background-size: cover;
}
a.logo span{
color:#111111;
font-family: "Baloo" !important;
}
.banner-text h3{
  font-family: "Baloo" !important;
  font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 24px;
    color:#37d72f;
}
.banner-text h1{
  font-size: 60px;
  word-spacing: 5px;
  color: #222;
  font-weight: 900;
  padding: 10px 0 16px;
  z-index: 99;
  text-transform: capitalize;
  font-family: "Baloo" !important;

}
.banner-text p{
  font-size:16px;
  letter-spacing: 2px;
  color:#3e3e3e;
}
.banner-btn a {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 2px;
  vertical-align: top;
  text-align: center;
  line-height: 22px;
  color: #ffffff;
  font-weight: 400;
  padding: 13px 32px;
  border-radius: 35px;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;
  transition: all ease 0.7s;
  background: #37d72f;
}

/* NAVIGATION */


  nav {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100vh;
    justify-content: space-around;
    position:absolute;
    right:0;
    top:0;
    background: #0f1014;
    transform: translateX(0);
    z-index: 502;
    transition: 0.7s;
}
img.icon-cart{
    width:40px;
}
.nav-middle ul{
    display: block;
    height: initial;
    list-style-type: none;
    text-align: center;
}
.nav-middle ul li{
    line-height: 60px;
    padding: 0 20px;
}
.nav-middle ul li a, .nav-right ul li a {
    text-decoration: none;
    color: white;
}
.nav-middle ul, .nav-right ul{
    display: block;
    height: initial;
    text-align: center;
    list-style-type: none;
}
.nav-middle ul li, .nav-right ul li {
    line-height: 60px;
}
button.btn.btn-primary{
    background: none;
    border:none;
}
.logo {
   
    text-align: center;
}
.logo span {
    font-size: 35px;
    font-weight: 700;
}
.logo-gym {
    width: 100px;
    color: white;
}
.logo-home {
    color: #82b53f;
    text-align: center;
}
.fa-times {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 25px;
    color: white;
    z-index: 502;
    cursor: pointer;
}



.overlay1 {
    position: absolute;
    width: 0;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 501;
    opacity: 0;
    transition: .5s;
  
}
.overlay1.menu-open {
    width: 100%;
    opacity: 1;
}

.active{
    transform: translateX(100%);
}
@media(min-width:1200px){
  .container {
      max-width: 1450px;
  }
}
i.fa.fa-comments-o,i.fa.fa-clock-o{
  color:#37d72f;
}
.banner{
  height:10vh;
}
.overfow-on{
  overflow: unset;
}
.back-top{
  background: #37d72f;
}

header{
  padding:10px 100px;
}
.banner{
  height:10vh;
  background-image: none;
  background: #37d72f;
}
/* NAVIGATION */

/* FROM-1 */
.fieldset .field {
  width: 100%;
  float: left;
  padding: 0.45em;
  box-sizing: border-box;
}
.fieldset .field .field-input-wrapper {
  position: relative;
}
.fieldset .field .field-input-wrapper .field-label {
  font-size: 0.85714em;
  font-weight: normal;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 0.93333em;
  z-index: 1;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  pointer-events: none;
  overflow: hidden;

}
.fieldset .field {
  width: 100%;
  float: left;
  padding: 0.45em;
  box-sizing: border-box;
}
.field-third {
  width: 33.33333% !important;
}

.fieldset .field .field-input-wrapper {
  position: relative;
}
h2.section-title{
  font-family: 'Baloo'!important;
}
p.section-content-text{
  font-size:15px;
  color:#3e3e3e;
}
.fieldset .field .field-input-wrapper .field-input {
  box-shadow: 0 0 0 1px #d9d9d9;
  transition: all 0.2s ease-out;
  background-color: white;
  color: #333333;
  border-radius: 4px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.74em 1.8em 0.74em 0.8em;
  word-break: normal;
  border:none;
  font-size:15px;
}
@media (min-width: 750px){
.field-two-thirds {
    width: 66.66667% !important;
}
@media (min-width: 750px){
.field-third {
    width: 33.33333% !important;
}
/* END-FROM */

/* PROUDCT-ORDER-CART   */
.product01 {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
  border-top: 1px solid #e3e6ea;


}

.quant {
  display: flex;
  justify-content: space-between;
  width: 90px;

}

.plus,
.minus {
  color: black;
  font-size: 28px;
  background: #37d72f;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.red {
  color: red
}

.pu {
  opacity: 0;
}

.name {
  font-size: 16px;


}

.color {
  font-size: 13px;

}

#tot {
  color: #ffc219;
}

i.fas.fa-heart {
  margin-left: 10px;
  cursor: pointer;
}

.remove {
  cursor: pointer;

}

.remove,
.fa-heart {
  cursor: pointer;
  margin-left: 10px;
}
input.quantity.qt{
  width:50px;
}

.pu{
  display:block;
  opacity: 1;
}
img.image{
  width: 60px;
  border: 1px solid #8080806b;
  border-radius: 6px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.product-thumbnail {
  display: flex;
}
.product-thumbnail-wrapper {
  width: 20%;
}
.div-name{
  width: 60%;
}
.div-price{
  width: 20%;
}
.order-cart{
  width:80%;
  margin:auto;
  margin-top:40px;
}


.product-thumbnail{
  margin-bottom: 10px;
}
span.name{
  font-size:20px;
  color:#37d72f;
  font-family: 'Baloo'!important;
}
.div-name p {
  font-size:13px;
  color:#111111;
}
.col-md-6.col-xs-12.colll{
  background-color: #efefef;
  padding:40px 0;
  
}
.col-md-6.col-xs-12{
  background: white;
  padding:70px 0;
}

/* MÃ GIẢM GIÁ */
.fieldset {
  margin: -0.45em;
  zoom: 1;

}
.fieldset:after, .fieldset:before {
  content: "";
  display: table;
}
.fieldset .field {
  width: 90%;
  float: left;
  padding: 0.45em;
  box-sizing: border-box;
}
.fieldset .field .field-input-btn-wrapper{
  display:flex;

}
.fieldset .field .field-input-btn-wrapper .field-input-wrapper{
  flex-grow: 1;
  position: relative;
}

.fieldset .field .field-input-wrapper .field-label {
  font-size: 0.85714em;
  font-weight: normal;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 0.93333em;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
  filter: alpha(opacity=0);
  color: #999999;
  transition: all 0.2s ease-out;
  margin: 0.5em 0;
  margin-top: 0.3em;
  display: block;
}
.fieldset .field .field-input-wrapper .field-input {
  box-shadow: 0 0 0 1px #d9d9d9;
  transition: all 0.2s ease-out;
  background-color: white;
  color: #333333;
  border-radius: 4px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.74em 1.8em 0.74em 0.8em;
  word-break: normal;
}
button.field-input-btn.btn.btn-default.btn-disabled{
  background: #37d72f;
  color:white;
}

.fieldset .field .field-input-btn-wrapper .field-input-btn {
  width: auto;
  margin-left: 0.9em;
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 0;
}

.section,.fieldset.flises2{
  width: 80%;
  margin: auto;
}


/* <TABLE TOTAL PRICE */
table {
  border-collapse: initial;
}
.table {
  width: 80%;
  margin-bottom: 1rem;
  color: #212529;
  margin: auto;
}
table{
  width:100%;
}
/* foodter */
.map_box{
    margin-top:100px;
}
iframe {
    width: 100%;
}
.main-footer {
    position: relative;
    background: #111111;
    color: #ffffff;
    font-size:15px;
  }
  .carousel-inner, .carousel, .item, .container, .fill {
    height: 100%;
    background-position: center center;
    background-size: cover;
  }
  .main-footer .footer-widget-area {
    position: relative;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .main-footer .footer-widget-area .footer-widget {
    padding-bottom: 30px;
    padding-left: 0px;
  }
  a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none;
    color: #ffffff;
  }
  .main-footer .logo_name {
    margin: 0;
    margin-bottom: 25px;
   
  }
  .header-lower .logo .logo_name, .main-footer .logo_name {
    margin: 8px auto;
    color: #82b53f;
    font-weight: 800;
    font-family: "Baloo" !important;
  }
  .header-lower .logo .logo_name .white_text, .main-footer .logo_name .white_text {
    color: #ffffff;
    font-family: "Baloo" !important;
  }
  .main-footer .footer-widget-area .footer-widget {
    padding-bottom: 30px;
    padding-left: 0px;
  }
  .footer-widget.quick-links.col-md-2.col-sm-6.col-xs-12{
      padding-left: 30px !important;
  
  }
  
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .widget-link ul, li a{
    text-decoration: none;
    color:white;
  }
  
  .row-foodter{
    width:80%;
    margin:auto;
    position: relative;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  
  .clearfix .image a img{
    width:100%;
  }
  
  .footer-bottom{
    padding: 15px;
    background: rgba(55, 215, 47, 0.83);
  }
  .widget-link ul li{
    padding: 4px;
    font-size:15px;
  }
  
  .widget-post .image {
    position: relative;
    float: left;
    width: 23.333%;
    overflow: hidden;
    margin-bottom: 15px;
    margin-right: 15px;
    height:100px;
    object-fit: cover;
  }
   i.fa.fa-phone,i.fa.fa-envelope,i.fa.fa-map-marker{
    font-size: 20px;
    color: #82b53f;
    padding-right: 7px;
    padding-left: 7px;
  } 
  .address_box{
    margin-bottom: 20px;
  }
  .col-xs-12 h4{
    font-family: "Baloo" !important;
    margin-bottom: 20px;
  }
  .textBox a{
    color:black;
  }
  .auto-container.text-center{
    color:#111111;
    font-weight: 600;
  }
  @media(max-width:1295px){
    .widget-post .image{
      width: 30.333%;
      height:75px;
      margin-bottom: 0;
    }
  }
  @media(max-width:990px) and (min-width:600px){
  .col-sm-6 {
      width: 50%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 50%;
    max-width: 49.666667%;
  }
  .footer-widget.quick-links.col-md-2.col-sm-6.col-xs-12 {
    padding-left: 74px !important;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 50%;
    max-width: 50.333333%;
  }
  .footer-widget.address.col-md-3.col-sm-6.col-xs-12{
    margin-top:20px;
    padding-left: 74px !important;
  }
  }
  @media(max-width:600px){
    .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 100%;
      max-width: 99.666667%;
    }
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .footer-widget{
      margin-bottom: 40px;
    }
    .footer-widget.quick-links.col-md-2.col-sm-6.col-xs-12 {
      padding-left: 10px !important;
  }
  .background-img3{
      display:none;
  }
  }
  @media(max-width:450px){
    .widget-post .image{
      width: 33.333%;
    }
    .row-foodter {
      width: 90%;
    }
  }
  /* end-foodter */